name: Deploy JSON API to GitHub Pages

on:
  push:
    branches: ["main"]

  # omogućava ručno pokretanje
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Konfigurišemo GitHub Pages
      - name: Setup Pages
        uses: actions/configure-pages@v5

      # Upload samo PUBLIC dir!
      - name: Upload public folder
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

      - name: Deploy to Pages
        id: deploy
        uses: actions/deploy-pages@v4
